* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0A2640;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

/* Start header styles */
header {
    background: var(--primary-color);
    width: 100%;
}

div.container {
    width: 85%;
    margin: auto;
   
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Open Sans' !important;
}

div.logo {
    padding-top: 50px;
}

div.logo img {
    width: 150px;
}

div.menue {
    text-align: right;
    padding-right: 0px !important;
    padding-top: 40px;
}

div.menue ul li {
    display: inline;
    padding: 10px;
    margin: 10px;
    padding-left: 0px !important;
    width: 61px;
}

div.menue ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffff;
    font-style: normal;

}

div.menue ul li a:hover {
    font-size: 18px;
    color: aquamarine;
}

div.menue ul li button {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    width: 128px;
    height: 40px;
}

ul li button a {
    padding: 8px 40px;
    color: var(--primary-color) !important;
    line-height: 24px;
    text-align: center;
}
/* end header styles */
/* start section styles */
section {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}

div.description {
    margin-top: 50px;
    width: 90%;
}



div.description h1 {
    font-size: 46px;
    line-height: 60px;
    color: #FFFFFF;
    font-weight: normal;
    margin-bottom: 5px;
}

div.description p {
    font-size: 15px;
    line-height: 28px;
    color: #e9e6e6;
}

div.description button.buy {
    width: 247px;
    height: 60px;
    background: #65E4A3;
    border: 2px solid #69E6A6;
    border-radius: 56px;
    color: var(--primary-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

div.description button.buy:hover {
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

div.description button.explore {
    width: 180px;
    border: 2px solid #FFFFFF;
    border-radius: 56px;
    background: transparent;
    height: 60px;
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

div.description button.explore:hover {
    background: #65E4A3;
    color: var(--primary-color);
    border: none;
}

div.images {
    margin-top: 30px;
}

div.images div.img1 {
    text-align: right;
    margin-bottom: 20px;

}

div.images div.img2 {
    text-align: right;
    float: right;
    width: 261.96px;
    height: 165.34px;
}

div.images div.img3 {
    float: right;
    margin-right: 35px;
}

div.img3 img {
    width: 192.18px;
    height: 165.34px;
}

/* End section styles */
/* Start logo styles */
div.logos {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 50px;
    background-image: linear-gradient(90deg, #0A2640 0%, rgba(10, 38, 64, 0.109375) 31.6%, rgba(10, 38, 64, 0) 72.89%, #0A2640 97.87%);
}


/* End logo styles */
/* start Services styles */
div.services {
    margin-top: 8%;
    width: 100%;
    margin-bottom: 80px;
}

div.services span {
    font-size: 18px;
    color: #332e2e77;
    text-align: center;
    display: block;

}

div.services p.head {
    font-size: 48px;
    line-height: 72px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

div.features {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    width: 100%;
}



div.features h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    color: #000000;
}

div.feature-img {
    width: 100%;
    height: auto;
}

div.feature-img img {
    width: 100%;
    height: 100%;
}

div.feature {
    width: 28%;
}

div.feature p {
    font-size: 18px;
    line-height: 32px;
    color: #777777;
}

div.explore {
    width: 60%;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 70% 20%;
}

div.explore-text strong {
    font-size: 20px;
    line-height: 36px;
    color: var(--primary-color);
    display: block;
}

div.explore-icon {
    line-height: 45px;
}

/* End Services styles */
/* Start first benefit style */
article.first-benefit {
    display: flex;
    margin-top: 18%;
    justify-content: space-between;
}

div.left-side img {
    width: 494px;
    height: 506px;
}

div.right-side {
    width: 40%;
}

div.right-side h3 {
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    font-weight: normal;
    margin-top: 60px;
}

div.right-side span {
    font-size: 20px;
    line-height: 60px;
    color: #000000;
    display: block;

}

div.right-side button {
    width: 210px;
    height: 60px;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 56px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 40px;
    font-weight: bold;
}

div.statistic1 {
    width: 300px;
    height: 388px;
    position: absolute;
    top: 2120px;
    left: 270px;
}

div.statistic1 img {
    width: 100%;
    height: 100%;
}

/* End first benefit style */
/* Start second benefit style */
article.second-benefit {
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
}

div.descript {
    width: 40%;
}

div.descript h3 {

    font-size: 36px;
    line-height: 56px;
    color: #000000;
    font-weight: normal;
    margin-top: 60px;

}

div.descript .box {
    background: var(--primary-color);
}

div.box1 {
    background-color: #FFFFFF;
}

div.box span {
    font-size: 18px;
    line-height: 68px;
    color: #FFFFFF;
    margin-left: 20px;
    font-weight: bold;
}

div.descript .box1,
.box {
    width: 500px;
    height: 68px;
    padding: 0px 20px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 28px 387px;
}

div.box-icon {
    line-height: 80px;
    margin-left: 10px;
}

div.dimage img {
    width: 444px;
    height: 523px;
}

div.descript .box1 span {
    font-size: 18px;
    line-height: 68px;
    color: #000000;
    margin-left: 20px;
    font-weight: bold;
}

div.statistic2 {
    width: 291px;
    height: 388px;
    position: absolute;
    top: 2845px;
    left: 840px;
}

div.statistic2 img {
    width: 100%;
    height: 100%;
}

/* end second benefit style */
/* start templates style */

article.templates {
    background-color: var(--primary-color);
    margin-top: 20%;
}

div.template-title {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

div.title {
    width: 100%;
}

div.template-title div.title strong {
    font-size: 48px;
    line-height: 72px;
    color: #ffff;
    display: block;
    font-weight: normal;
    padding-top: 80px;
}

div.template-title .arrow {
    width: 172px;
    height: 73px;
    margin-top: 160px;
}

div.template-title .arrow img {
    width: 100%;
    height: 100%;
}

div.people {
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
}


div.people div.expert1 {
    width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-top: 60px;
    height: 322px;
    display: block;
    margin-bottom: 20%;
}

div.people div.expert2 {
    width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-top: 60px;
    display: block;
    margin-bottom: 20%;
    height: 394px;
}

div.people div.expert3 {
    width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-top: 60px;
    display: block;
    margin-bottom: 20%;
    max-height: 394px;
    min-height: 322px;
    height: 358px;
}


div.idea {
    width: 100%;
    padding: 25px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

div.idea h4 {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    font-weight: normal;
}

div.about-person {
    display: flex;
    padding: 10px 25px;
    width: 100%;
    justify-content: space-between;
}

div.person-img img {
    height: 58px;
    width: 58px;
}

div.person-info {
    margin-top: 10px;
    width: 80%;
    margin-left: 20px;
}

div.person-info strong {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 20px;
}

div.person-info span {
    font-size: 14px;
    color: var(--primary-color);
    line-height: 20px;
}

/* end templates style */
/* start third-benefit article */
article.third-benefit {
    margin-top: 10%;
}

div.cover-img {
    width: 100%;
}

div.cover-img img {
    width: 100%;
}

div.caption {
    display: flex;
    justify-content: space-between;
}

div.head {
    width: 40%;
}

div.head h5 {
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    font-weight: normal;
}

div.questions {
    width: 500px;
    margin-top: 50px;
}

div.questions select {
    width: 100%;
    padding: 20px 0px;
    border: none;
    border-bottom: 1px solid rgb(199, 196, 196);
    margin-bottom: 20px;
    font-size: 18px;
}

div.questions select option {
    font-weight: bold;
    color: #000000;
}

/* end third-benefir style*/
/* start blog-section style*/

div.blog-section {
    margin-top: 8%;
}

div.blog-section span {
    font-size: 18px;
    line-height: 32px;
    color: #777777;
    display: block;
    text-align: center;
}

div.blog-section p {
    font-size: 42px;
    line-height: 72px;
    color: #000000;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 2%;

}

div.blogs {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    margin-top: 6% !important;
    justify-content: space-between;
    width: 95%;
    margin: auto;

}

div.picture img {
    width: 100%;
}

div.date {
    display: grid;
    grid-template-columns: 72px 147px;
    margin-top: 15px;
}

div.date strong {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 28px;
    width: 100%;
}

div.date span {
    font-size: 16px;
    color: #777777;
    line-height: 28px;
    width: 100%;
}

div.blog p.blog {
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

div.blog p.blog1 {
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    text-align: left;
    width: 100%;
    margin-bottom: 63px;
    margin-top: 10px;
}

div.person {
    display: grid;
    grid-template-columns: 32px 300px;
    margin-top: 30px;
}

div.person span {
    text-align: left;
    font-size: 16px;
    color: #000000;
    margin-left: 10px;

}

div.blog-section button.load {
    width: 180px;
    height: 60px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 60px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin: auto;
    margin-top: 8% !important;
}

/* end blog-section style */
/* start about-client */

div.about-client {
    background-color: var(--primary-color) !important;
    margin-top: 10%;
    border-radius: 12px;
}

div.container2 {
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
}

div.container2 h2.title {
    font-size: 45px;
    line-height: 72px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    padding-top: 12% !important;

}

div.container2 button.email {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 240px;
    width: 370px;
    height: 56px;
    margin-left: 8% !important;
}

div.container2 button.email input {
    font-size: 20px;
    line-height: 32px;
    border: none;
    outline: none;

}

div.container2 button.start {
    background: #65E4A3;
    border: 2px solid #65E4A3;
    border-radius: 56px;
    width: 210px;
    height: 60px;
    margin-left: 2%;
}

/* end about-client */
/* start footer */
footer {
    margin-top: 10%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 40% 18% 18% 18%;

}

div.about-company img {
    width: 156px;
}

div.about-company p {
    font-size: 16px;
    line-height: 28px;
    word-spacing: 1px;
    color: #777777;
    width: 80%;
    margin-top: 40px;
    display: block;
}

div.about-company span {
    font-size: 15px;
    line-height: 28px;
    word-spacing: 1px;
    color: #777777;
    display: block;
    margin-top: 65px !important;
}

div.fmenue ul li {
    line-height: 47px;
    list-style-type: none;

}

div.fmenue ul li.ftit {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    line-height: 63px !important;
    list-style-type: none;
}

div.fmenue ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #777777;
}

button.hire {
    position: absolute;
    width: 72px;
    height: 30px;
    left: 930px;
    top: 6660px;
    font-size: 13px;
    line-height: 28px;
    color: var(--primary-color);
    background: #65E4A3;
    border-radius: 120px;
    border: none;
    font-weight: bold;
}

/* end footer */